---
import { SITE } from '~/utils/config';
import logoImage from '~/assets/images/luwak-icon.png';
import Image from '~/components/common/Image.astro';
---

<span
	class="flex items-center self-center text-2xl font-bold text-gray-900 hover:text-primary-700 whitespace-nowrap dark:text-white dark:hover:text-primary-100"
>
	<Image src={logoImage} alt="Logo Luwak Lab" width={70}/>
	<span>LuwakLab</span>
</span>
